<div class="w3-card-4 " id="pipeline" style="margin-top: 30px;">
  <header class="w3-container w3-text-white" style="background-color: var(--main-bg-color);">
    <h3>Pipeline</h3>
  </header>
  <div class="w3-container">
    <div class="" id="pipeline-canvas" style="width: 100%; height: 400px">
      
    </div>
  </div>
</div>


<script>
var pipeline_data = {{.}};
</script>

<script src="/static/js/cytoscape.min.js"></script>
<script src="/static/js/klay.js"></script>
<script src="/static/js/cytoscape-klay.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/cytoscape-popper.js"></script>




<script src="/static/js/querystats.js"></script>

